:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._mt-20px{margin-top:20px;}
:root ._mr-20px{margin-right:20px;}
:root ._mb-20px{margin-bottom:20px;}
:root ._ml-20px{margin-left:20px;}
:root ._pr-5px{padding-right:5px;}
:root ._pl-5px{padding-left:5px;}
:root ._h-80px{height:80px;}
:root ._bg-white{background-color:white;}
:root ._btlr-5px{border-top-left-radius:5px;}
:root ._btrr-5px{border-top-right-radius:5px;}
:root ._bbrr-5px{border-bottom-right-radius:5px;}
:root ._bblr-5px{border-bottom-left-radius:5px;}
:root ._ai-center{align-items:center;}
:root ._jc-441309761{justify-content:space-between;}
:root ._mb-10px{margin-bottom:10px;}
:root ._fd-row{flex-direction:row;}
:root ._pr-25px{padding-right:25px;}
:root ._pl-25px{padding-left:25px;}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-675002279{color:var(--color);}
:root ._w-2037{width:20%;}
:root ._fos-229441282{font-size:var(--f-si-6);}
:root ._w-8037{width:80%;}
:root ._gap-7px{gap:7px;}
:root ._fos-229441220{font-size:var(--f-si-4);}
:root ._col-1218753978{color:var(--gray10);}