:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._mt-20px{margin-top:20px;}
:root ._mr-20px{margin-right:20px;}
:root ._mb-20px{margin-bottom:20px;}
:root ._ml-20px{margin-left:20px;}
:root ._h-80px{height:80px;}
:root ._bg-white{background-color:white;}
:root ._btlr-5px{border-top-left-radius:5px;}
:root ._btrr-5px{border-top-right-radius:5px;}
:root ._bbrr-5px{border-bottom-right-radius:5px;}
:root ._bblr-5px{border-bottom-left-radius:5px;}
:root ._ai-center{align-items:center;}
:root ._jc-441309761{justify-content:space-between;}
:root ._mb-10px{margin-bottom:10px;}
:root ._fd-row{flex-direction:row;}
:root ._pr-25px{padding-right:25px;}
:root ._pl-25px{padding-left:25px;}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-675002279{color:var(--color);}
:root ._bg-bbf7d035{background-color:#bbf7d0;}
:root ._pr-5px{padding-right:5px;}
:root ._pl-5px{padding-left:5px;}
:root ._pt-2px{padding-top:2px;}
:root ._pb-2px{padding-bottom:2px;}
:root ._btw-1px{border-top-width:1px;}
:root ._brw-1px{border-right-width:1px;}
:root ._bbw-1px{border-bottom-width:1px;}
:root ._blw-1px{border-left-width:1px;}
:root ._btc-22c55e35{border-top-color:#22c55e;}
:root ._brc-22c55e35{border-right-color:#22c55e;}
:root ._bbc-22c55e35{border-bottom-color:#22c55e;}
:root ._blc-22c55e35{border-left-color:#22c55e;}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._col-22c55e35{color:#22c55e;}
:root ._bg-fef08a35{background-color:#fef08a;}
:root ._btc-eab30835{border-top-color:#eab308;}
:root ._brc-eab30835{border-right-color:#eab308;}
:root ._bbc-eab30835{border-bottom-color:#eab308;}
:root ._blc-eab30835{border-left-color:#eab308;}
:root ._col-eab30835{color:#eab308;}
:root ._bg-a5f3fc35{background-color:#a5f3fc;}
:root ._btc-06b6d435{border-top-color:#06b6d4;}
:root ._brc-06b6d435{border-right-color:#06b6d4;}
:root ._bbc-06b6d435{border-bottom-color:#06b6d4;}
:root ._blc-06b6d435{border-left-color:#06b6d4;}
:root ._col-06b6d435{color:#06b6d4;}
:root ._fos-12px{font-size:12px;}
:root ._maw-140px{max-width:140px;}