:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._bg-00285135{background-color:#002851;}
:root ._h-1537{height:15%;}
:root ._jc-flex-end{justify-content:flex-end;}
:root ._ai-center{align-items:center;}
:root ._pb-15px{padding-bottom:15px;}
:root ._tt-230632953{text-transform:var(--f-tr-7);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016233{font-weight:var(--f-we-7);}
:root ._ls-167744152{letter-spacing:var(--f-21-7);}
:root ._fos-229441313{font-size:var(--f-si-7);}
:root ._lh-222976666{line-height:var(--f-li-7);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._col-white{color:white;}
:root ._fg-1{flex-grow:1;}
:root ._fs-1{flex-shrink:1;}
:root ._jc-center{justify-content:center;}